# Configurações de Ambiente para o Cypress-ACS
# Renomeie este arquivo para .env e preencha os valores abaixo

# URL do sistema
CYPRESS_BASE_URL=https://hom.appposto.com.br/

# Credenciais de acesso
CYPRESS_USER_LOGIN=admin
CYPRESS_USER_PASSWORD=admin
CYPRESS_TENANT_ID=posto-mirla-01
CYPRESS_EMPRESA="Empresa Emcomoda"

# Outras configurações
CYPRESS_PROJECT_ID=bv3urc
